<section class="detail comic-info">
  <div class="col cover">
    <p><a href="#" ng-click="goBack()">Volver al Perfil</a></p>
    <img class="comic" src="{{selectedComic.image}}" alt="Portada">
  </div>

  <div class="col info">
    <h2>{{selectedComic.title}}</h2>
    <p><b>Pulished: </b>{{selectedComic.dates}}</p>
    <p><b>Creators: </b>{{selectedComic.creators}}</p>
    <p><b>Characters: </b>{{selectedComic.characters}}</p>
    <p><b>Description: </b>{{selectedComic.description}}</p>
  </div>
</section>
<footer></footer>
